.container {
  margin: 10px;
  padding-bottom: 10px;
  border: 10px;
  border-style: inset;
  border-color: #c8a502;
}
.descripcion {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}
.precio {
  display: flex;
  align-items: flex-end;
}
.img {
  width: 100px;
  height: 150px;
}
.cantidad {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}
.button {
  width: 30%;
  margin: 5px;
  border-radius: 10px;
  background-color: black;
  color: #f4f5f7;
  text-decoration: none;
}
.totalCompra {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.titulo {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    display: block;
  }
  .descripcion {
    display: flex;
    display: block;
    margin: 0;
  }
  .cantidad {
  }
}
