.titulo {
  text-align: center;
}
.container {
  display: block;
  text-align: center;
  margin: 10px;
  padding-bottom: 10px;
  border: 10px;
  border-style: inset;
  border-color: #c8a502;
}
.cardContainer {
  margin: 10px;
}
.imgContainer {
  margin: auto;
  display: block;
  width: 40%;
  height: 15rem;
}
.button {
  border-radius: 10px;
  background-color: black;
  color: #f4f5f7;
  text-decoration: none;
  margin: 10px;
}
.totalCompra {
  text-align: center;
}
.carritoVacioContainer {
  display: flex;
  justify-content: space-around;
}
.carritoVacioContainer h3 {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .imgContainer {
    margin: auto;
    display: block;
    width: 7rem;
    height: 9rem;
  }
}
