.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin: 20px 70px;
}
.cardContainer {
  background-color: #c8a502;
  min-height: 410px;
  color: #f4f5f7;
  border: 5px solid black;
  text-align: center;
}
.contenedorImg {
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: white;
}

.contenedorInfo {
  padding: 1rem;
}

.button {
  width: 50%;
  border-radius: 10px;
  background-color: black;
  color: #f4f5f7;
  text-decoration: none;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    margin: 5px 0px;
  }
}
