.counterContainer {
  width: 100%;
  border-radius: 4px;
  background-color: rgb(8, 8, 8);
  color: #f4f5f7;
  text-decoration: none;
  margin: 5px;
}
.counter {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 5px;
}
.counterContainer button {
  border-radius: 8px;
}
@media (max-width: 768px) {
}
