.container {
  display: flex;
}
.cardContainer {
  background-color: #c8a502;
  min-height: 410px;
  color: #f4f5f7;
  border: 5px solid black;
  text-align: center;
  width: 30%;
}
.contenedorImg {
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: white;
}
.info {
  text-align: center;

  padding: 1rem;
}
.buttonCounter {
  margin-top: 10%;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    display: block;
  }
  .cardContainer {
    margin: 50px;
    padding: 20px;
    width: 80%;
    height: auto;
    background-color: #c8a502;
    display: flex;
    display: block;
    text-align: center;
  }
  .imagen {
    width: 100px;
    height: 150px;
  }
  .info {
    text-align: center;
    font-size: medium;
  }
}
