.container {
  display: flex;
}
.cardContainer {
  margin: 50px;
  padding: 20px;
  height: 300px;
  background-color: #c8a502;
  display: flex;
}
.imagen {
  width: 200px;
}
.info {
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    display: block;
  }
  .cardContainer {
    margin: 50px;
    padding: 20px;
    height: auto;
    background-color: #c8a502;
    display: flex;
    display: block;
    text-align: center;
  }
  .imagen {
    width: 100px;
    height: 150px;
  }
  .info {
    text-align: center;
    font-size: medium;
  }
}
