.container{
    margin: 50px;
    padding: 50px;
    height: 300px;
    background-color:#C8A502;
    display: flex;
}
.imagen{
    width: 200px;

}
.info{
    text-align: center;
}
.buttom{  
    height: 50px;
    width: 100px;
}
