.container {
  width: 100%;
  height: auto;
}
.img {
  float: left;
  width: 500px;
  height: 300px;
}
.parrafo {
  display: flex;
  margin-top: 0px;
}
.cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* background-color: blueviolet; */
}
.cuadritos {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cuadritoInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
