.containerNavbar {
  background-color: #c8a502;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}
.logo {
  height: 100%;
  width: 100px;
}
.menuButton {
  display: none;
  cursor: pointer;
}

.burger,
.burger::before,
.burger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}

.burger.open {
  transform: rotate(45deg);
}

.burger.open::before {
  transform: rotate(-90deg) translateX(-5px);
}

.burger.open::after {
  opacity: 0;
}
.containerList {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 50px;
}
.cart,
.itemMenu {
  margin: 0 15px;
  color: #f4f5f7;
  text-decoration: none;
}

.activo {
  color: #f8d63d;
}

@media (max-width: 768px) {
  .menuListContainer {
    order: 1;
    margin-top: 30px;
  }
  .logo {
    .logo {
      height: 50%;
      width: 50%;
    }
    order: 2;
  }
  .cart {
    order: 3;
    width: 10%;
  }
  .menuButton {
    display: block;
    padding-top: 50px;
  }

  .containerList {
    position: initial;
    top: 100%;
    right: 0;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transform: translate(1rem, -80%);
    transition: max-height 0.3s ease-out;
    font-size: small;
  }

  .containerList.show {
    max-height: 6rem;
    float: inline-start;
  }
}
