.containerFooter {
    background-color:#C8A502;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.containerRedes{
    display: flex;
    justify-content: space-between;
}