.titulo {
  display: flex;
  justify-content: center;
}

.formulario {
  display: block;
  text-align: center;
  width: 100%;
  /* max-width: 50%; */
  margin: 125px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #c8a502;
}
.formulario input {
  display: block;
  width: 100%;
  margin-bottom: 10px; /* Espacio entre los inputs */
  padding: 10px;
  box-sizing: border-box;
}

.button {
  /* display: block; */
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 3px auto;
  border: none;
  border-radius: 4px;
  background-color: #f4f5f7;
  color: rgb(10, 9, 9);
  font-size: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #c8a502;
}
